@media (min-width: 400px){
    .welcome img {
        margin: 0px;
    }
    a.btn-start {
        padding: 18px 29px;
        color: #fff;
        background-color: #d55cbf;
        text-decoration: none;
        border-radius: 11px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
    }
}