@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', 'Times New Roman', serif;
    background-color: #f2f1f7;
}

/* Styling Welcome page stated in index.html */
section.welcome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome img{
    width: 25%;
    margin-top: 5%;
    margin-bottom: 10%;
}

a.btn-start{
    padding: 10px 20px;
    color: #fff;
    background-color: #d55cbf;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

a.btn-start:hover{
    background-color:  #a784fe;
    box-shadow: 0 6.5px 22.5px 0 rgba(3, 17, 24, 0.502);
    transform: scale(1.2);
    transition: transform 100ms;
    cursor: pointer;
}